###################################################################
# Ignore this files in this folder and all its sub-folders
*~
*.edp
*.opt
*.sln
*.log
*.bak
*.suo
*.lock
*.tmp
*.xpaproj
*.XRF
*.optback
*.chw
branchIDs*.*
DataSourcesIndex.xml
Magic.ini.BASE.ini
Magic.ini.LOCAL.ini
Magic.ini.REMOTE.ini
ChilkatDotNet4.dll
ChilkatDotNet4_x64.dll
ChilkatDotNet46.dll
ChilkatDotNet46_x64.dll
mglock.dat
ProgramHeaders.xml
Test*.*
.merge-file_*
/MagicOptimizer/magicOptimizerImportList.txt
#
# Ignore all files in sub-folder
Temp/
Libraries/
Exports/
MagicIDs/
IndependentOfEpplVersion/
.vs/
# Do not ignore these files in this folder nor in any of its sub-folders
!**/.gitkeep
/MagicOptimizer/magicOptimizerImportList.txt
